<a href="https://colab.research.google.com/github/HarishBankai/NUMPY-PROGRAMMING-MASTERY/blob/Working-with-Data/Handling_Missing_Values_Using_NumPy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np

# Create a sample 1D array with some NaN values
data1 = np.array([86, 77, 75, 78, 82, 95, np.nan, 80, np.nan, 68, np.nan, 95, 96, 50, np.nan, 85, np.nan, 52, 77])

# Calculate the mean of the array, ignoring NaN values
mean = np.nanmean(data1)
print("MEAN OF 1D ARRAY : ", mean)

# Calculate the median of the array, ignoring NaN values
median = np.nanmedian(data1)
print("MEDIAN OF 1D ARRAY : ", median)

# Print the original 1D array and a boolean mask showing where NaN values are located
print("1D ARRAY NULL VALUE POSITIONS : \n", data1)
print(np.isnan(data1))

# Create a sample 2D array with some NaN values
data2 = np.array([[6, 7, np.nan, 9] ,
                  [np.nan, 4, 15, np.nan] ,
                  [np.nan, 10, np.nan, np.nan] ,
                  [5, np.nan, 89, np.nan]])

# Print the original 2D array and a boolean mask showing where NaN values are located
print("\n2D ARRAY NULL VALUES POSITIONS: \n", data2)
print(np.isnan(data2))

# Replace NaN values in the 1D array with the calculated mean
data1_replaced = np.nan_to_num(data1, nan=mean)
print("After replacing the NaN values in 1D array : ", data1_replaced)

# Replace NaN values in the 1D array with the calculated median
data1_replaced = np.nan_to_num(data1, nan=median)
print("After replacing the NaN values in 1D array : ", data1_replaced)

# Remove NaN values in the 1D array
data1_remove = data1[~np.isnan(data1)]
print("After removing the NaN values in 1D array : ", data1_remove)

# Remove NaN values in the 2D array
data2_remove = data2[~np.isnan(data2)]
print("After removing the NaN values in 2D array : ", data2_remove)

MEAN OF 1D ARRAY :  78.28571428571429
MEDIAN OF 1D ARRAY :  79.0
1D ARRAY NULL VALUE POSITIONS :
 [86. 77. 75. 78. 82. 95. nan 80. nan 68. nan 95. 96. 50. nan 85. nan 52.
 77.]
[False False False False False False  True False  True False  True False
 False False  True False  True False False]

2D ARRAY NULL VALUES POSITIONS:
 [[ 6.  7. nan  9.]
 [nan  4. 15. nan]
 [nan 10. nan nan]
 [ 5. nan 89. nan]]
[[False False  True False]
 [ True False False  True]
 [ True False  True  True]
 [False  True False  True]]
After replacing the NaN values in 1D array :  [86.         77.         75.         78.         82.         95.
 78.28571429 80.         78.28571429 68.         78.28571429 95.
 96.         50.         78.28571429 85.         78.28571429 52.
 77.        ]
After replacing the NaN values in 1D array :  [86. 77. 75. 78. 82. 95. 79. 80. 79. 68. 79. 95. 96. 50. 79. 85. 79. 52.
 77.]
After removing the NaN values in 1D array :  [86. 77. 75. 78. 82. 95. 80. 68. 95. 96. 50. 85. 52. 77.]
After removing the NaN values in 2D array :  [ 6.  7.  9.  4. 15. 10.  5. 89.]